* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #222;

  color: white;

  padding: 20px 40px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo {
  font-size: 24px;

  font-weight: bold;
}

.nav-links {
  display: flex;

  gap: 20px;
}

.nav-links a {
  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}